<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Promedio</h5>
          <h6 class="card-subtitle mb-2 text-muted">Promedio de edad entre los clientes</h6>
          <h4>{{promedio | number : '1.0-0'}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Desviación Estándar</h5>
          <h6 class="card-subtitle mb-2 text-muted">Desviación estándar edades de los clientes</h6>
          <h4>{{estandar | number : '1.0-0'}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>