<div class="container">
  <div class="card">
    <h5 class="card-header">Agregar Cliente</h5>
    <div class="card-body">
      <form>
        <div class="row">
            <div class="col">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombreHelp">
            </div>
            <div class="col">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" name="apellido" aria-describedby="apellidoHelp">
            </div>
            <div class="col">
              <label for="fecha_nacimiento">Fecha de Nacimiento</label>
              <input type="datetime" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" aria-describedby="fecha_nacimientoHelp">
            </div>
            <div class="col">
              <label for="edad">Edad</label>
              <input type="text" class="form-control" id="edad" name="edad" aria-describedby="edadHelp" disabled>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>