<div class="container">
  <div class="card">
    <h5 class="card-header">Clientes</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">---</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Fecha Nacimiento</td>
            <td>Edad</td>
            <td><fa-icon [icon]="faTrash"></fa-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>