<div class="container main-container animated fadeIn fast">
  <div class="jumbotron">
    <h1 class="display-4">Demostración Módulo Clientes</h1>
    <p class="lead">Demostración de mósulo clientes con Lazy Load, Redux y Firabase. Cálculo de promedio, desviación
      estandar y creación de nuevo cliente.</p>
    <hr class="my-4">
    <p>Redux usando <a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en" target="_blank">Redux DevTools</a></p>
    <p>Código fuente <a href="https://github.com/quinterocesar/modulo-clientes.git" target="_blank">GITHUB</a> </p>
    <a class="btn btn-primary btn-lg" href="/customers" role="button">Ir al módulo</a>
  </div>
</div>